.app {
  position: relative;
  display: flex;
  min-height: 100%;
  height: 96vh;
  width: 100%;
  max-width: 500px;
  flex-direction: column;
  justify-content: flex-start;

  &-header {
    display: flex;
    min-height: 8vh;
    justify-content: space-between;
    align-items: center;
    flex-basis: 8%;
    background: #4265e2;
  }

  .content {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    flex-basis: 92%;
    align-self: center;
    justify-content: center;

    .home {
      .title {
        font-weight: bold;
      }
    }

    .login,
    .register {
      background: inherit;
      width: 20rem;
      padding: 1rem;
      margin: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      div {
        margin: 0.5rem;
      }
    }

    .home,
    .post-page {
      // height: 100%;
      width: 100%;
      // display: flex;
      // flex-direction: column;

      .card {
        width: 70%;
        //   align-self: center;
        box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);

        background: #4265e2;
        border-radius: 2rem;
        margin: auto;
        margin-top: 1rem;
        display: flex;

        justify-content: space-around;
        align-items: center;

        .info {
          flex-basis: 92%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
        }
        .card-content {
          flex-basis: 90%;
          display: flex;
          flex-direction: column;
          height: 100%;
          justify-content: space-evenly;
          padding: 1.2rem;
        }
        .actions {
          display: flex;
          flex-direction: column;
          justify-content: inherit;
          min-height: 6rem;
          margin-bottom: 0.5rem;
        }
      }
    }
    .create-post {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .btn {
        margin: 0;
        align-self: flex-end;
      }
    }
  }

  .footer {
    position: sticky;
    width: 100%;
    display: flex;
    justify-content: center;
    bottom: 0;
    min-height: 6%;
    background: #4265e2;
    align-items: center;
  }
}

.neumorphic-inset {
  box-shadow: -15px -15px 15px rgba(255, 255, 255, 0.2),
    15px 15px 15px rgba(0, 0, 0, 0.2),
    inset -5px -5px 5px rgba(255, 255, 255, 0.2),
    inset 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.neumorphic {
  box-shadow: -15px -15px 15px rgba(255, 255, 255, 0.2),
    15px 15px 15px rgba(0, 0, 0, 0.2);
}

.comment {
  height: fit-content;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #4265e2;
  border-radius: 1.5rem;
  margin-top: 1rem;
}

.input {
  border: 1px solid #4265e2;
  border-radius: 1.5rem;
  width: 100%;
  background: inherit;
  padding: 1rem 1.3rem;
  margin-bottom: 1rem;
  font-size: 1.3rem;
  &:focus {
    outline: none;
  }
}

.btn {
  background: #4265e2;
  border-radius: 1.5rem;
  border: 1px solid #4265e2;
  color: #ddd;
  width: 10rem;
  height: 3rem;
  margin: auto;
  line-height: 0.8rem;
  padding: 1rem;
}

.textarea-container {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  .comment-btn {
    width: 20%;
    align-self: center;
  }
}
.icon {
  height: 1.4rem;
  width: 1.4rem;
  cursor: pointer;
  fill: blue;
}

.loader-container {
  position: absolute;
  height: 92%;
  width: 100%;
  left: 0;
  top: 8%;
  background: rgba($color: #fff, $alpha: 0.3);
  z-index: 1000;
  .loader {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.link {
  text-decoration: underline;
  color: #3439e0;
}

h1 {
  color: #4265e2;
}

textarea {
  resize: none;
}
